<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div id="firstThreePosts">
                        <% for (var post in posts) { %>
                        <div class="post-preview">
                            <a href="<% `/post/${post._id}` %>">
                                <h2 class="post-title"><%= posts[0].title %></h2>
                            </a>
                            <p class="post-meta">Posted by <a href="#"> <% post.username %></a> on <% post.createdAt %></p>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/body'); %>
    </body>
    <hr>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</html>